/*
to check something
 @if  (your condition){
    true
   }
    @else{
        false
    }
*/
.box1 {
    width: 10px;
    background-color: orange;
    height: 5rem;
  }
  
  .box2 {
    width: 20px;
    background-color: black;
    height: 5rem;
  }
  
  .box3 {
    width: 10px;
    background-color: gray;
    height: 5rem;
  }
  
  @keyframes move {
    from {
      transform: scaleY(-1);
    }
    to {
      transform: scaleY(5);
    }
  }
  .main-box {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
  }
  
  .item:nth-child(1) {
    background-color: #ffe0a8;
    height: 5vh;
    border-radius: 20% 0;
    background-color: #c2d650;
    align-self: end;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(2) {
    background-color: #ffd485;
    height: 18vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(3) {
    background-color: #ffe9c2;
    height: 23vh;
    border-radius: 20% 0;
    background-color: #4e7151;
    align-self: end;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(4) {
    background-color: #ffe8bd;
    height: 31vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(5) {
    background-color: #ffdd9e;
    height: 33vh;
    border-radius: 20% 0;
    background-color: #61427d;
    align-self: end;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(6) {
    background-color: #ffa90a;
    height: 4vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(7) {
    background-color: #ffc04d;
    height: 9vh;
    border-radius: 20% 0;
    background-color: #5f806d;
    align-self: end;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(8) {
    background-color: #ffbb3d;
    height: 3vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(9) {
    background-color: #ffbb3d;
    height: 3vh;
    border-radius: 20% 0;
    background-color: #588cc1;
    align-self: end;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(10) {
    background-color: #ffce75;
    height: 36vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(11) {
    background-color: #ffe4b3;
    height: 37vh;
    border-radius: 20% 0;
    background-color: #266a19;
    align-self: end;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(12) {
    background-color: #ffb224;
    height: 30vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(13) {
    background-color: #ffc55c;
    height: 19vh;
    border-radius: 20% 0;
    background-color: #24564b;
    align-self: end;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(14) {
    background-color: #ffbc42;
    height: 20vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(15) {
    background-color: #ffe4b3;
    height: 34vh;
    border-radius: 20% 0;
    background-color: #8a9670;
    align-self: end;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(16) {
    background-color: #ffd07a;
    height: 25vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(17) {
    background-color: #ffe6b8;
    height: 26vh;
    border-radius: 20% 0;
    background-color: #a55964;
    align-self: end;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(18) {
    background-color: #ffe0a8;
    height: 23vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(19) {
    background-color: #ffc04d;
    height: 9vh;
    border-radius: 20% 0;
    background-color: #4a8f44;
    align-self: end;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(20) {
    background-color: #ffc252;
    height: 37vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(21) {
    background-color: #ffe4b3;
    height: 3vh;
    border-radius: 20% 0;
    background-color: #ceda8c;
    align-self: end;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(22) {
    background-color: #ffdfa3;
    height: 32vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(23) {
    background-color: #ffb01f;
    height: 11vh;
    border-radius: 20% 0;
    background-color: #1d4187;
    align-self: end;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(24) {
    background-color: #ffe4b3;
    height: 15vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(25) {
    background-color: #ffc55c;
    height: 7vh;
    border-radius: 20% 0;
    background-color: #8c98dc;
    align-self: end;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(26) {
    background-color: #ffe4b3;
    height: 14vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(27) {
    background-color: #ffce75;
    height: 4vh;
    border-radius: 20% 0;
    background-color: #9a6fb9;
    align-self: end;
    animation-name: move;
    animation-duration: 26s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(28) {
    background-color: #ffb52e;
    height: 36vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(29) {
    background-color: #ffe0a8;
    height: 27vh;
    border-radius: 20% 0;
    background-color: #4e6eb9;
    align-self: end;
    animation-name: move;
    animation-duration: 23s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .item:nth-child(30) {
    background-color: #ffdd9e;
    height: 8vh;
    border-radius: 20% 0;
    animation-name: move;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  /*# sourceMappingURL=main.css.map */
  